.dashboard-content
  .left
    .title
      Consultorio del Dr. Marcelo Duperré
    .office-content
      .one-appointment
        Este es el primer turno !
  .right
    .title
      Consultorio del Dr. Marcelo Duperré
    .office-content
      Este es el primer turno !
  .clear