// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.css.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";
@import "just_datetime_picker/base";
// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   body.active_admin {
//      .status_tag { background: #6090DB; }
//   }
//
// Notice that Active Admin CSS rules are nested within a
// 'body.active_admin' selector to prevent conflicts with
// other pages in the app. It is best to wrap your changes in a 
// namespace so they are properly recognized. You have options
// if you e.g. want different styles for different namespaces:
//
// .active_admin       applies to any Active Admin namespace
// .admin_namespace    applies to the admin namespace (eg: /admin)
// .other_namespace    applies to a custom namespace named other (eg: /other)

@import "mixins";

/*= require jquery.ui.all */

.clear{clear: both;}

.dashboard-content{
  
  .title{
    background-color: #E0E2E3;
    @include dashboard-office-title;
    padding-bottom: 1%;
    padding-left: 2%;
    padding-top: 1%;
  }
  .left{
    background-color: #E0E2E3;
    border: 1px solid #E0E2E3;
    width: 45%;
    height: 195px;
  }
  .right{
    background-color: #E0E2E3;
    border: 1px solid #E0E2E3;
    border-radius: 0px 0px 8px 8px;
    width: 45%;
    height: 195px;
  }
  .one-appointment{
    background-color: white;
    border: 1px solid grey;
    border-radius: 4px 4px 4px 4px;
    font-size: 15px;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 5px;
    padding-left: 1%;
    padding-right: 1%;
    width: 65%;
  }
}


.input .tel{
  float: left;
  width: 300px;
  .tel_field{width: 200px;}
}

.index_table.index{
  font-size: 20px;
  height: 60px;
}

body.active_admin table.index_table td{padding: 16px 13px;}

